body{
	font-family:'Open Sans Light';
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 100%;
}
.tt-menu, .gist {
    text-align: left;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion:hover,.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.twitter-typeahead {
    display: block !important;
}
.file-preview-frame{
    float: none !important;
    margin: 0 auto !important;
}